body {
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.img-logo {
  width: 50px;
  height: 50px;
}

.tamaño {
  width: 400px;
  height: 300px;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
  line-height: 48px;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 1.2rem !important;
}

.container {
  display: grid;
  max-width: 120rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

@media (max-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }
}

.text-waterWatch {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.back {
  background-color: #E0F0FD;
  padding: 3rem;
}

.imagen-principal {
  height: 100%;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-end;
  padding: .4rem;
}

.texto-footer {
  font-size: .9rem;
  display: grid;
  justify-content: end;
  align-items: center;
  padding-top: 1rem;
}

.register-content {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 10px;
}

.register-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 490px;
}

.card {
  width: 700px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background-color: #f5f5f5;
  padding: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 20px;
  text-align: center;
}

.card-footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}


button.red {
  background-color: rgb(220, 53, 69);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: green;
  border-radius: 100%;
}

@media (max-width: 760px) {
  .carousel-control-prev {
      left: 0px !important;
  }

  .carousel-control-next {
      right: 0px !important;
  }
}

#mensaje {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1.3rem;
}

.links a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #2980b9;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.active-link {
  border-bottom: 2.5px solid #333;
  width: 30%;
}



