<mat-dialog-content >
  <h2 mat-dialog-title class="text-center">Iniciar Sesión</h2>

  <div class="flex flex-col w-full">
    <mat-form-field appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="Ingrese su usuario" [(ngModel)]="username" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña">
      <button mat-icon-button matSuffix (click)="togglePassword()">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="dialog-action flex justify-center gap-4">
    <button mat-raised-button color="accent" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" [ngClass]="{'button-dissabled': !enableButton()}" type="submit" (click)="onSubmit()">Iniciar sesión</button>
  </div>
</mat-dialog-content>
