<div class="flex min-h-screen bg-gray-100">
  <div class="flex-1 flex items-start justify-center mt-4 p-4">
    <div class="max-w-md w-full bg-white p-6 shadow-lg rounded-lg">
      <div class="text-center mb-6">
        <h2 class="text-2xl font-bold mb-6">Regístrate</h2>
      </div>

      <form [formGroup]="credentialsForm" (ngSubmit)="register()" class="space-y-4">
        <!-- Campo de Usuario -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" placeholder="Nicolas505" type="text">
          <mat-error *ngIf="credentialsForm.get('username')?.invalid && (credentialsForm.get('username')?.dirty || credentialsForm.get('username')?.touched)">
            El usuario es requerido.
          </mat-error>
        </mat-form-field>

        <!-- Campo de Contraseña -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="togglePassword()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="credentialsForm.get('password')?.invalid && (credentialsForm.get('password')?.dirty || credentialsForm.get('password')?.touched)">
            La contraseña es requerida.
          </mat-error>
        </mat-form-field>

        <!-- Campo de Confirmación de Contraseña -->
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix (click)="toggleConfirmPassword()" type="button">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="credentialsForm.get('confirmPassword')?.hasError('required') && (credentialsForm.get('confirmPassword')?.dirty || credentialsForm.get('confirmPassword')?.touched)">
            La confirmación de la contraseña es requerida.
          </mat-error>
          <mat-error *ngIf="credentialsForm.hasError('mismatch')">
            Las contraseñas no coinciden.
          </mat-error>
        </mat-form-field>

        <!-- Botón de Registro -->
        <div class="text-center">
          <button mat-raised-button color="primary" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
